PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/brandlina-cms
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=root
ADMIN_PASSWORD=root
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLIENT_ORIGIN=http://localhost:5173
